"""
    Created by PyCharm
    ~~~~~~~~~~~
    :author: ilhamarrouf
    :date: 17/04/20
    :time: 22.46
"""

import os

_basedir = os.path.abspath(os.path.dirname(__file__))

APP_NAME = "Flask Skeleton"
APP_URL = "http://localhost"
APP_HOST = '127.0.0.1'
APP_PORT = '8000'
ENV = "development"
DEBUG = True
SECRET_KEY = "secret"
CACHE_TIMEOUT = 60 * 60 * 15
JSON_SORT_KEYS= False
CACHE_TYPE = "simple"

# -- SQLAlchemy
SQLALCHEMY_DATABASE_URI = "sqlite:///db.sqlite"
SQLALCHEMY_COMMIT_ON_TEARDOWN = True
SQLALCHEMY_RECORD_QUERIES = True
SQLALCHEMY_TRACK_MODIFICATIONS = False

# -- Minio
MINIO_ENDPOINT = "my.domain.id"
MINIO_ACCESS_KEY = "AccEss_KeY"
MINIO_SECRET_KEY = "supersecretkey"
MINIO_BUCKET = "mybucket"
MINIO_SECURE = False
MINIO_REGION = "us-west-1"
MINIO_HTTP_CLIENT = None

# -- RQ
RQ_REDIS_URL = 'redis://127.0.0.1:6379'
RQ_QUEUES = ['high', 'default', 'low']
RQ_ASYNC = True
RQ_SCHEDULER_INTERVAL = 1
RQ_BURST = True

# -- Telegram Logger
TELEGRAM_BOT_ENABLE = True
TELEGRAM_BOT_TOKEN = 'my-bot-token'
TELEGRAM_CHAT_ID = '342934'
