version: '3'

services:
  api:
    container_name: flask-api
    build: .
    image: ilhamarrouf/skeleton/flask-api:latest
    restart: always
    ports:
      - "5000:80"
    environment:
      TZ: Asia/Jakarta
      FLASK_APP: .
    links:
      - redis:redis
    depends_on:
      - redis
    network_mode: bridge
  redis:
    container_name: flask-redis
    image: redis
    restart: always
    network_mode: bridge
