version: '3'

services:
  app:
    container_name: flask-api
    build: .
    image: ilhamarrouf/flask:latest
    restart: always
    ports:
      - "5000:80"
    links:
      - redis:redis
    depends_on:
      - redis
    network_mode: bridge
  redis:
    container_name: flask-redis
    image: redis
    restart: always
    network_mode: bridge
